#
# configure build system
#
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
#

jobs:
- job: 'Test'
  pool:
    vmImage: 'ubuntu-18.04'
  strategy:
    matrix:
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: python -m pip install --upgrade pip setuptools wheel
    displayName: 'Upgrade pip and friends'

  - script: pip install -e .[dev]
    displayName: 'Install dev requirements'

  - script: invoke pytest
    displayName: 'Pytest'

